<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>R</title>
<link  href="/dsimg/myreward.css" rel="stylesheet"  type="text/css">
</head>
<body>

<div class="reward">
	<div class="reward-button">赏 <span class="reward-code">
		<span class="alipay-code"> <img class="alipay-img wdp-appear" src="/dsimg/alipayimg.jpg"><b>支付宝打赏</b> </span> 
		<span class="wechat-code"> <img class="wechat-img wdp-appear" src="/dsimg/weipayimg.jpg"><b>微信打赏</b> </span> </span>
	</div>
	<p class="reward-notice">如果文章对你有帮助，欢迎点击上方按钮打赏作者</a></p>
</div>
</body>
</html>
