<section class="footer">
    <footer>
       



<div class = "footer_div">  
           
Copyright &copy; {{ site.title }} 2017-2022.   </div>         

<div class = "footer_div">  
	Theme by <a href="https://robotkang.cc/">Robotkang</a> |
            <!--<iframe
                style="margin-left: 2px; margin-bottom:-5px;"
                frameborder="0" scrolling="0" width="91px" height="20px"
                src="https://ghbtns.com/github-btn.html?user=MengZheK&repo=BlogDemo&type=star&count=true" >
            </iframe>|-->
<img src="https://robotkang-1257995526.cos.ap-chengdu.myqcloud.com/image/logo/hayato.png" width="55" height="20" alt="photos" style="display:inline;margin-bottom: -5px;"/>              

<!-- cnzz 
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261874359'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261874359%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

</div> 
-->
      	

<!-- 访问统计 -->

<div class = "footer_div">
    			
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
 
Total <span id="busuanzi_value_site_pv"></span> views.  
您是我的第<span id="busuanzi_value_site_uv"></span> 个访客.
  
          </span>
        </div>
       
    </footer>
</section>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>




