<!--script>
    new Valine({
        av: AV,
        el: '#comments',
        app_id: '{{ site.data.social.valine_comment.leancloud_appid }}',
        app_key: '{{ site.data.social.valine_comment.leancloud_appkey }}',
        placeholder:'{{ site.data.social.valine_comment.placeholder }}',
        avatar:'robohash',
        path:window.location.pathname,
        guest_info:['nick','mail','link'] ,
        pageSize:10,
        serverURLs: 'https://jdvyyfmr.api.lncldglobal.com', 
    });
</script-->
<script>
        new Valine({
            // AV 对象来自上面引入av-min.js(老司机们不要开车➳♡゛扎心了老铁)
            av: AV, 
            el: '.comment', // 
            app_id: 'JDVYYFMr1UFSl4srOgHY5Uks-MdYXbMMI', // 这里填写上面得到的APP ID
            app_key: '9y0CKp1BEkveutixsUOYjfDJ', // 这里填写上面得到的APP KEY
            placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊哈!', // [v1.0.7 new]留言框占位提示文字
            avatar:'wavatar',
            path:window.location.pathname,
            guest_info:['nick','mail','link'] ,
            pageSize:10,
            serverURLs: 'https://jdvyyfmr.api.lncldglobal.com',
        });
    </script>