<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

   <meta name="baidu-site-verification" content="0L5MKMrHOb" />

    <span class="mobile btn-mobile-menu">        
      <div class="nav_container">
         <nav class="nav-menu-item" style = "float:right">
            <i class="nav-menu-item">
              <a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">  {{site.blog_button.title}}
              </a>
            </i>
            {% for item in site.nav %}
                <i class="nav-menu-item">

                  <a href="{{item.url}}" title="{{item.description}}" class="btn-mobile-menu__icon">
                      {{item.title}}
                  </a>
                </i>
            {% endfor %}
          </nav>
      </div>
    </span>


    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">.
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}
    
<!-- <div id="top"><a id="rocket" href="javascript:;" title="返回顶部"><i></i></a></div> 
  <script src="/res/js/light.js"></script>
  {% if page.math == true %}<script src="http://cdn.bootcss.com/mathjax/2.4.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script><script>MathJax.Hub.Config({tex2jax:{inlineMath: [['\\','\\']],displayMath: [['$$','$$']]}});</script>{% endif %} -->



<link href="/css/top.css/" rel="stylesheet" type="text/css" />
<script src="/js/jquery.js?v=1.83.min/" type="text/javascript"></script>
<script src="/js/top.js/"></script>
<div style="display: none;" id="rocket-to-top">
<div style="opacity:0;display: block;" class="level-2"></div>
<div class="level-3"></div>
</div>

</body>

</html>
