<!DOCTYPE html>
<html>

  {% include head.html %}

  <body style="height:1000px;">

  

    <span class="mobile btn-mobile-menu">        
      <div class="nav_container">
         <nav class="nav-menu-item" style = "float:right">
            <i class="nav-menu-item">
              <a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">  {{site.blog_button.title}}
              </a>
            </i>
            {% for item in site.nav %}
                <i class="nav-menu-item">

                  <a href="{{item.url}}" title="{{item.description}}" class="btn-mobile-menu__icon">
                      {{item.title}}
                  </a>
                </i>
            {% endfor %}
          </nav>
      </div>
    </span>


    {% include side-panel.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% if site.data.social.valine_comment.enable and page.comments == true %}
        <div id="comments"></div>
        {% endif %}
    {% include footer.html %}
        </div>
    {% include scripts.html %}
    </div>
    
    {% include external.html %}
    

<!--博客鼠标点击显示文字JS特效代码 -->

<script type="text/javascript">

var a_idx = 0;
jQuery(document).ready(function($) {
 $("body").click(function(e) {
 var a = new Array("富强", "民主", "文明", "和谐", "自由", "平等", "公正" ,"法治", "爱国", "敬业", "诚信", "友善");
 var $i = $("<span/>").text(a[a_idx]);
 a_idx = (a_idx + 1) % a.length;
 var x = e.pageX,
 y = e.pageY;
 $i.css({
 "z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
 "top": y - 20,
 "left": x,
 "position": "absolute",
 "font-weight": "bold",
 "color": "#ff6651"
 });
 $("body").append($i);
 $i.animate({
 "top": y - 180,
 "opacity": 0
 },
 1500,
 function() {
 $i.remove();
 });
 });
});
</script>



</body>

</html>
