---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>
      <span class="post-meta__tags tags"></span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

<link href="/css/top.css/" rel="stylesheet" type="text/css" />
<script src="/js/jquery.js?v=1.83.min/" type="text/javascript"></script>
<script src="/js/top.js/"></script>
<div style="display: none;" id="rocket-to-top">
<div style="opacity:0;display: block;" class="level-2"></div>
<div class="level-3"></div>
</div

  <section class="post">
    {{ content }}
  </section>
</article>
