body,html {
    font-family: "微软雅黑";
    font-size: 14px;
}
.fixed {
    position: fixed
}
html {
    width: 100%;
    height: 100%;
}
.icon {
    background: url(img/icon.png) no-repeat;
    overflow: hidden;
}
.iphone_icon {
    background: url(img/iphone.png) no-repeat;
}
.download_box .item_pc {
    text-align: center!important;
    border: 1px solid #fff;
}

.head {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 57px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(48, 48, 48,0.14);
    overflow: hidden;
}
.head .head_content {
    width: 74%;
    max-width: 1000px;
    height: 57px;
    margin: 0 auto;
}

.head .login_box,
.head .login_box a {
    color: #fff;
    margin-right: 10px;
    font-size: 105%;
}
.head .login_box {
    margin-top: 2%;
    margin-right: 3%;
}
.head .login_box span {
    margin-right: 10px;
}
.head .logo {
    width: 113px;
    height: 46px;
    background: url(img/logo.png) no-repeat;
}
.head .logo_blue {

}
.head .logo_green {
    background-position: -11px -61px;
}

.bottom {
    width: 100%;
    bottom: 10px;
}
.bottom .bottom_content {
    width: 74%;
    max-width: 1045px;
    margin: 0 auto;
}
.bottom a,
.bottom span {
    float: left;
    margin-right: 5px;
    color: #000000;
    font-size: 10px;
    opacity: .4;
}
.bottom p {
    font-size: 12px;
    opacity: .4;
}
.my_section {
    width: 74%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 64px;
    position: relative;
    transform:scale(1);
    -webkit-transform:scale(1);
　　-moz-transform-origin:top left;
}




@media all and ( max-height : 660px) {
    .my_section{
        transform:scale(.8);
        -webkit-transform:scale(1);
          -moz-transform-origin:center;
    }
    #iphone_slider_ul {
        position: relative;
        transition : 0.5s;
    }
}

.my_codoon {
    padding-top: 18%;
}
.my_codoon .text1_box {
    height: 54px;
    line-height: 54px;
    margin-bottom: 25px;
}
.my_codoon .text1,
.my_codoon .text3 {
    color: #fff;
    font-size: 54px;
    font-weight: 800;

}
.my_codoon .text3{
    position: relative;
    left: -20px;
}
.my_codoon .text2 {
    color: #fff;
    font-size: 32px;
    letter-spacing: 4px;
}

.download_box {
    margin-top: 20%;
}
.download_box .left {
    float: left;
}
.download_box .right {
    float: left;
    margin-left: 10px;
}
.download_box .erweima {
    width: 110px;
    height: 110px;
    background-position: -15px -112px;
}
.download_box .item {
    display: block;
    width: 180px;
    height: 46px;
    line-height: 45px;
    text-align: left;
    color: #fff;
    font-size: 18px;
}
.download_box .other_download {
    color: black;
    opacity: .4
}

.iphone {
    position: absolute;
    right: 3%;
    top: 20%;

}
.iphone .iphone_img {
    position: relative;
    width: 330px;
    height: 628px;
    background-position: 0px -21px;
}
.delay5 {
    -webkit-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}
#section1{
    background: #40a3e1;
}

.cod_rom{
    width: 444px;
    height: 410px;
    position: relative;
    margin-top:15%;
}
.cod_rom img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity:0;
    transition: all 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transition: all 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: all 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: all 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.cod_rom img.animSect1{
    -moz-transform: translate3d(0,0,0)!important;
    -o-transform: translate3d(0,0,0)!important;
    transform: translate3d(0,0,0)!important;
    -webkit-transform: translate3d(0,0,0)!important;
    opacity: 1;
}
.rom_txt {
    padding-top: 180px;
    color: #fff;
    width: 468px;
    line-height: 1.4
}
.rom_txt h2 {font-size: 54px;}
.rom_txt .notes{font-size: 24px;}
.rom_txt ul {
    margin-top:30px;
    opacity: 0.9;
}
.rom_txt ul li{
    float: left;
    position: relative;
    width: 130px;
    font-size: 16px;
    padding-left: 15px;
}
.rom_txt ul li:before{
    content: '';
    width:8px;
    height: 8px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 0;
}

.rom_download {
    display: block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    margin-top: 27px;
}
.pc_download {
     transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.pc_download:hover {
    color:#6cbb52;
    background: #fff;
}
.souhuan .rom_download:hover{
}
.rom_download:hover{
}
.shouhuanImg{
     margin-top:100px;
}
.shouhuanImg img{
   display: block;
    opacity: 0;
    transition: all 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transition: all 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: all 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: all 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.shouhuanImg img.animSect2{
    -moz-transform: translate3d(0,0,0)!important;
    -o-transform: translate3d(0,0,0)!important;
    transform: translate3d(0,0,0)!important;
    -webkit-transform: translate3d(0,0,0)!important;
    opacity: 1;
}

/* 轮播 */
#iphone_slider {
    overflow: hidden;
    width: 256px;
    height: 456px;
    position: relative;
/*    margin-top: 74px;
    margin-left: 53px;*/
/*    top: 74px;
    left: 53px;*/
}
#iphone_slider_wrapper {
    position: relative;
    top: 74px;
    left: 53px;
}
#iphone_slider img {
    display: inline-block;
}
.iphone_xxoo {
    position: relative;
    top: -450px;
    left: 160px;
}

@media (max-width: 1024px){
    .rom_txt{zoom: 0.8;}
    .cod_rom {zoom: 0.8;}
    .shouhuanImg{zoom: 0.8;}
    .my_codoon {
        zoom: 0.8;
    }
    .iphone {
        zoom: 0.8;

    }
}

@media (max-width: 860px){
      .iphone {
       top: 80%;
    }
}
 @media (max-width: 480px) {
    .my_section{width: 100%; padding-top: 50px;}
    .rom_txt h2 {
            font-size: 22px;
    }
    .rom_txt{
         float: none;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 0px 20px;
        zoom: 1;
    }
    .rom_txt .notes{
        font-size: 16px;
    }
    .rom_txt ul li{
        float: left;
        position: relative;
        width: 42%;
        font-size: 12px;
        padding-left: 15px;
    }
    .rom_download{
        margin-top:20px;
        width: 100px;
        height: 30px;
    }
    .rom_txt ul{
        margin-top: 7px;
    }
    .cod_rom{
        float: none;
       zoom: 0.4;
       margin:0;
       margin:20px 130px 0 0;
       float: right;
    }
    .shouhuanImg{
          zoom: 0.4;
         margin:0;
         float: right;
         margin: 20px 130px 0 0;
    }
    .download_box .right a {
        width: 100px;
        height: 30px;
    }
    .mobile_icon img {
        width: 100px;
        height: 30px;
        vertical-align : top;
    }

    /*huangzong add 20141120 by jserh*/
    .head .head_content,
    .bottom .bottom_content,
    .my_section {
    }
    .bottom_content,
    .head_content{
        width: 90%!important;
    }
    .head .login_box {
        margin-right: 0px!important;
    }
    .head .head_content {
    }
    .head {
        zoom : .6;
    }
    #section0 .my_section{

    }
    .my_codoon {
        padding-top: 0px!important;
        float: none;
        padding: 10px 20px;
        zoom: 1;
    }
    .iphone {
        float: right;
        position: relative!important;
        right: 15%!important;
        zoom: 0.9;
    }
    #iphone_slider {
        right: 15%!important;
        top: 9%;
        zoom: 0.83;
    }
    .iphone_xxoo {
        position: relative;
        top: -380px;
        left: 110px;
    }
    .download_box {
        margin-top: 8px;
    }
    .download_box .left {
        display: none;
    }
    .my_codoon .text1_box{
        margin-bottom: 1px;
        height: auto;
    }
    .my_codoon .text1,
    .my_codoon .text3 {
        line-height: 1.5;
        font-size: 22px!important;

    }
    .my_codoon .text3{
        position: relative; left:0;
    }
    .my_codoon .text2 {
        font-size: 16px!important;
    }
    .download_box .right {
        margin-left: 0px!important;

    }
    .download_box .right a{
    }
    .iphone .iphone_img {
        background-size: 200%;
        zoom: 0.5;
    }

 }





.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name:fadeInLeft ;
            animation-name:fadeInLeft ;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
            animation-fill-mode: both;
}
.fadeInTop {
    -webkit-animation-name: fadeInTop;
    -moz-animation-name: fadeInTop;
    -o-animation-name:fadeInTop ;
            animation-name:fadeInTop ;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
            animation-fill-mode: both;
}
@media ( max-height : 570px) and ( min-height:461px) {
    .iphone .iphone_img {
        background-size: 200%!important;
        zoom: .7!important;
    }
    .cod_rom,
    .shouhuanImg {
        zoom : .6
    }
}
@-webkit-keyframes fadeInTop {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0);
    }

    100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
    }

}
@-moz-keyframes fadeInTop {
    0% {
    opacity: 0;
    -moz-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0);
    }
    100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
    }

}
@keyframes fadeInTop {
    0% {
    opacity: 0;
    -moz-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0);
    }

    100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
    }

}
@-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
    }
    80% {
    opacity: .8;
    -webkit-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
    }

}
@-moz-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -moz-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
    }
    80% {
    opacity: .8;
    -moz-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
    }
    100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
    }

}
@keyframes fadeInLeft {
    0% {
    opacity: 0;
    -moz-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
    }
    80% {
    opacity: .8;
    -moz-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
    }
    100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
    }

}
